body, html {
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100vw;
    background: #F4F4F4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    border: 0;
    margin: 0;
    padding: 0px ;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background: #F4F4F4;
}

.container__routes {  
    border: 0;
    margin: 0;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.table-responsive {
    height: 100%;
}

.navbar {
    border-bottom: 2px solid;
}